$primaryVeryDarkBlue: hsl(233, 47%, 7%);
$primaryDarkDesaturated: hsl(244, 38%, 16%);
$primarySoftViolet: hsl(277, 64%, 61%);
$neutralWhite: hsl(0, 0%, 100%);
$neutralSlightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
$neutralSlightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6);

$mobile: 375px;
$desktop: 1440px;

@mixin desktop {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inter;
}

body {
	background-color: $primaryVeryDarkBlue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-width: 300px;
	max-width: 540px;
	background-color: $primaryDarkDesaturated;
	border-radius: 7px;
	color: $neutralWhite;
	margin: 80px 20px 80px 20px;

	@include desktop {
		flex-direction: row;
		justify-content: center;
		align-content: center;
		margin: 30vh 240px;
		max-width: 1040px;
	}

	.image {
		object-fit: contain;
		background-color: $primarySoftViolet;

		@include desktop {
			order: 1;
			width: 50%;
		}

		img {
			max-width: 100%;
			opacity: 0.5;
		}
	}

	.text {
		text-align: center;

		@include desktop {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	h1 {
		margin: 1em 2em;

		@include desktop {
			font-size: 2rem;
			text-align: left;
		}

		em {
			color: $primarySoftViolet;
			font-style: normal;
		}
	}

	p {
		line-height: 1.7;
		color: $neutralSlightlyTransparentWhite2;
		margin: 2rem 3rem;
		font-size: 15px;

		@include desktop {
			text-align: left;
			margin: 2rem 4rem;
		}
	}

	.stats {
		margin: 2em 4em;
		line-height: 1.5;

		@include desktop {
			display: flex;
			flex-direction: row;
		}

		.stat {
			margin: 2em auto;

			p {
				color: $neutralSlightlyTransparentWhite2;
				margin: 0;
				text-transform: uppercase;
			}
		}
	}
}

.attribution {
	text-align: center;
	color: $neutralWhite;
	margin: 20px;
}
