* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inter;
}

body {
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  max-width: 540px;
  background-color: #1b1938;
  border-radius: 7px;
  color: white;
  margin: 80px 20px 80px 20px;
}

@media (min-width: 1440px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 30vh 240px;
    max-width: 1040px;
  }
}

.container .image {
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #aa5cdb;
}

@media (min-width: 1440px) {
  .container .image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
}

.container .image img {
  max-width: 100%;
  opacity: 0.5;
}

.container .text {
  text-align: center;
}

@media (min-width: 1440px) {
  .container .text {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container h1 {
  margin: 1em 2em;
}

@media (min-width: 1440px) {
  .container h1 {
    font-size: 2rem;
    text-align: left;
  }
}

.container h1 em {
  color: #aa5cdb;
  font-style: normal;
}

.container p {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin: 2rem 3rem;
  font-size: 15px;
}

@media (min-width: 1440px) {
  .container p {
    text-align: left;
    margin: 2rem 4rem;
  }
}

.container .stats {
  margin: 2em 4em;
  line-height: 1.5;
}

@media (min-width: 1440px) {
  .container .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container .stats .stat {
  margin: 2em auto;
}

.container .stats .stat p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  text-transform: uppercase;
}

.attribution {
  text-align: center;
  color: white;
  margin: 20px;
}
/*# sourceMappingURL=style.css.map */